body {
  text-align: center;
  background-color: #041324;
}

#level-title,
#mob-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start-btn {
  all: unset;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  margin: 2rem;
  padding: 1rem;
  border: #fef2bf;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

#start-btn:hover {
  background-color: #fef2bf;
  color: black;
}

@media only screen and (min-width: 850px) {
  #start-btn {
    display: none;
  }
  #mob-title {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #level-title {
    display: none;
  }
  #mob-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .container {
    display: flex;
    width: 20%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .btn {
    width: 15vh;
    height: 15vh;
    border: 0.4rem solid black;
  }
}
